#particles {
  background-image: radial-gradient(rgba(255, 255, 255, 0.4) 1px, transparent 1px);
  background-size: 20px 20px;
  animation: move 5s linear infinite;
  opacity: 0.15;
}

@keyframes move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 40px;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.4s ease-out forwards;
}
section {
  position: relative;
  z-index: 10;
}
section {
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

i {
  transition: transform 0.3s ease, color 0.3s ease;
}

i:hover {
  transform: scale(1.25);
  color: #ccc;
}
