<section class="space-y-4">
  <h2 class="text-2xl font-semibold">Skills</h2>

  <div class="grid md:grid-cols-3 gap-4">
    <div appReveal class="bg-surface p-4 rounded-lg shadow-soft-lg">
      <h4 class="font-medium">Languages</h4>
      <div class="mt-3 flex flex-wrap gap-2">
        <span *ngFor="let l of languages" class="text-xs px-2 py-1 rounded-md bg-slate-800 text-muted">{{l}}</span>
      </div>
    </div>

    <div appReveal class="bg-surface p-4 rounded-lg shadow-soft-lg">
      <h4 class="font-medium">Frameworks</h4>
      <div class="mt-3 flex flex-wrap gap-2">
        <span *ngFor="let f of frameworks" class="text-xs px-2 py-1 rounded-md bg-slate-800 text-muted">{{f}}</span>
      </div>
    </div>

    <div appReveal class="bg-surface p-4 rounded-lg shadow-soft-lg">
      <h4 class="font-medium">Tools</h4>
      <div class="mt-3 flex flex-wrap gap-2">
        <span *ngFor="let t of tools" class="text-xs px-2 py-1 rounded-md bg-slate-800 text-muted">{{t}}</span>
      </div>
    </div>
  </div>
</section>
